<section class="container" >
<form class="form" (ngSubmit)="transferir()">
    <h2 class="form__titulo">New transfer</h2>

    <div class="form-field">
      <label class="form-field__label" for="price">Price</label>
      <input class="form-field__input" id="price" type="number" [(ngModel)]="price" name="price" />
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destiny">Destiny</label>
      <input class="form-field__input" id="destiny" type="text" [(ngModel)]="destiny" name="destiny" />
    </div>

    <div class="button-wrapper">
      <button class="button" type="submit">Transferir</button>
    </div>
</form>
</section>
